<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="UserLogin.DataSet.Properties.Settings.LoginUsersConnectionString"
      connectionString="Data Source=JHB-JACOBGOREDE\SQLEXPRESS;Initial Catalog=LoginUsers;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UserLogin.App.Properties.Settings.LoginUsersConnectionString"
      connectionString="Data Source=JHB-JACOBGOREDE\SQLEXPRESS;Initial Catalog=LoginUsers;Integrated Security=True" />
    <add name="UserLogin.App.Properties.Settings.LoginUsersConnectionString1"
      connectionString="Data Source=JHB-JACOBGOREDE\SQLEXPRESS;Initial Catalog=LoginUsers;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>